@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
  font-family: alenia;
  src: url('./assets/fonts/NewAlenia-7B8E4.ttf');
}

@font-face
{
  font-family: titillium;
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
}

html, body
{
  height: 100%;
}

body
{
  margin: 0;
  background-color: "#e1e1e5";
}

.tag-grid
{
  grid-template-columns: 70% 30%;
}
.carousel
{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar
{
  width: 0;
}

input:focus::placeholder
{
  color: transparent;
}

textarea:focus::placeholder
{
  color: transparent;
}

.rotate
{
  animation: rotation 1s infinite linear;
}

@keyframes rotation{
  from 
  {
    transform: rotate(0deg);
  }

  to 
  {
    transform: rotate(359deg);
  }
}